/* Stylesheet for the calculator. */

/* General style for font. */
html {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  color: #444;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

/* The calculator panel. */
.calculator {
  width:500px;
  height:300px;
  position:relative;
  padding:10px;
  border:solid 1px blue;
}

/* The input area. */
.calculator .entry {
  height: 40px;
  border: 1px #d9d1d7 solid;
  width: 224px;
  padding: 4px;
  text-align: right;
  font-size: 21px;
  margin-bottom: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  box-shadow: none;
  -webkit-appearance: none;
}

/* General style for the buttons. */
.calculator button {
  width: 60px;
  height: 50px;
  /* The table rows has default margins. */
  margin: -3px;
  border:1px solid #e8ecef;
  color: #666;
  vertical-align: middle;
  text-align: center;
  font-size: 14px;
  background: #fdfdfd;
}

.calculator button:hover {
  text-decoration: none;
  color: #2181cf;
  background: #f4f8fb;
}

/* Operator buttons. */
.calculator button.operator {
  background: #f6f6f6;
}

.calculator button.operator:hover {
  background: #d9e9f3;
}

.calculator button.delete:hover {
  background: #fdf3ee;
}

.calculator button.variable:hover {
  background: #faffe9;
}

.calculator button.equal {
  background: #2181cf;
  color: #ffffff;
}

.calculator button.equal:hover {
  color: #ffffff;
  background: #37a3eb;
}






/** style for droppable content **/
.droppable { 
  width: 150px; 
  height: 100px;
  float: left; 
  border:solid 1px gray;
  margin-left:150px;
}

/** style for dragable content **/
.draggable{ 
  background-color:#d9de48;       
  display:table-cell;
  text-align:center;
  vertical-align:middle;
  font-size:12px;
  font-weight:bold;
  width:75px;
  height:75px;
  float: left; 
}

/** style when an object is moving hover **/
.hoverClass{
  background:#339bfb;
  color:#ffffff;
}

/** style for droppable when the moveable object is dropped **/
.dropClass{
  background:#55d532;
}

/** clear the float used by other dragable and moveable objects **/
.clear{
  clear:both;
}

.entry {
  display: block;
}

.conversion {
  background: green;
  width: 100px;
  height: 100px;
}

.op_del {
  color: red;



}

.op_plus {
  color: red;



}
