
.conversion {
  position: absolute;
  width: 350px;
  height: 125px;
  left: 300px;
  bottom: 40px;
}

.conversion .conversion-mode {
  position: absolute;
  width: 100px;
  height: 20px;
  bottom: 0px;
  text-align: center;
  cursor: default;
}

/** style for droppable content **/
.conversion .droppable { 
  background-image: url('dropbox_logo_dark.png');
  background-size: 100px 100px;
  background-repeat: no-repeat;
  width: 100px; 
  height: 120px;
  position: relative;
  margin: 0 auto;
}

.conversion .droppable.receptive {
  background-color: #eff9dd;
}

.conversion .from,
.conversion .to {
  position: absolute;
  width: 125px;
  height: 100%;
  top: 0px;
  margin: 0 auto;
}

.conversion .to {
  right: 0px;
  width: 100px;
}

.conversion .from input,
.conversion .to input {
  position: absolute;
  top: 50px;
  width: 100px;
  text-align: center;
  border-style: none;
  background: transparent;
  font-size: 20px;
}

.conversion .from input {
  border-bottom: 1px #d9d1d7 solid;
}

.conversion .select-wrapper {
  position: absolute;
  top: 80px;
  width: 100px;
  height: 34px;
  overflow: hidden;
  text-align: center;
  font-size: 16px;
  background: #f5f9fc;
}

.conversion .select-wrapper:hover {
  background: #d5edff;
}

.conversion .select-wrapper select {
  background: transparent;
  width: 120px;
  font-size: 16px;
  height: 34px;
  border: none;
  padding-left: 10px;
  -webkit-appearance: none;
}

.conversion .select-wrapper select:focus {
  outline: none;
}

.conversion .select-wrapper select:hover {
  cursor: pointer;
}

