<!doctype html>
<html ng-app>
  <head>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/compute.js"></script>
    <script src="js/calculator.js"></script>
    <script src="js/conversion.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans'
        rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/calculator.css">
    <link rel="stylesheet" href="css/conversion.css">
  </head>
  <body>
    <div class="main-widget">
      <div class="calculator" ng-controller="calculatorController">
        <img src="css/dropbox_logo.png" alt="db logo" class="draggable">
        <input class="entry" type="text"
            ng-model="curEntry" placeholder="0" readonly>
        <table>
          <tr ng-repeat="row in buttons">
            <td ng-repeat="col in row">
              <button ng-click="enter(col)" ng-class="opToName[col]">
                {{col}}
              </button>
            </td>
          </tr>
        </table>
      </div>
      <div class="conversion" ng-show="conversionMode"
          ng-controller=conversionController>
        <div class="droppable">
          <div class="conversion-mode">
            {{conversionMode}}
          </div>
        </div>
        <div class="from">
          <input ng-model="fromEntry">
          <span class="unit">{{curUnit}}</span>
        </div>
       <div class="to">
          <input ng-model="toEntry" readonly placeholder="0">
          <span class="unit">{{toUnit}}</span>
        </div>
      </div>
    </div>
  </body>
</html>
